$mainColor: #0D0D0D;
$mainFont: 'Nunito Sans', sans-serif;
$secondaryFont: 'Source Sans Pro',sans-serif;

/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

/*FONT IMPORT-------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;0,800;1,400;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $mainFont;
}

html{
  scroll-behavior: smooth;
  position: relative;
  overflow-wrap: break-word;
}

body{
background-color: $mainColor;
color: white;

}

/* NAVIGATION */
.navbar{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: $mainColor;
}

/* NAVIGATION END */

/* CLASS FOR NAVIGATION LINKS*/

.navlink{
  font-size: 20px;

}

.navlink a{
  color: white;
}

.navlink a:hover{
  transition: 0.5s;
  color: gray;
}

/*END OF NAVLINK CLASS*/


.wrapper{
  display:block;
  position: relative;
      // margin: 0em 2em 0em 2em;
}


h1{
font-size: 90px;


}

h2{
  font-size: 60px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
}

code {
  background-color: gray;
  display: block;
  font-family: monospace;
  font-size: 12pt;
}


footer{
  text-align: right;
  width: 100%;
  padding-right: 5%;
  color: white;
}


a{
  color:gray;
}

a:hover{
  transition: 0.5s;
  color: yellow;
}

/* BUTTON */
.button {
	display: inline-block;
  border: none;
  border-radius: 4px;
	color: black;
	background-color: white;
	font-size: 1.5rem;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
  transition: 0.5s;

}

.button:active, .button:hover {
	color: white;
	background-color: #ead3d7;
  text-decoration: none;
}

/* Intro Page----- */
.intro{
  margin-top: 25vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.intro h1{
  font-family: $secondaryFont;
  padding-bottom: 30px;

}

.intro h2{
  font-size: 1.4em;
  font-weight: normal;
}

.intro img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* about page */
.about_page{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  padding-bottom: 200px;
  // display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
}

.profile_pic img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:360px;
}

.social_media img{
  display: inline-block;
  width:24px;
  display: block;
  padding-top: 1em;
}


.chevron{
  padding-top: 50px;
  padding-bottom: 350px;
}

/*About page----- end*/

/*PROJECT PAGE -------*/
.project_placeholder{
  height: 500px;
  margin-right: 0;
  margin-left: 0;
  padding-top: 50px;
  background-color: $mainColor;
}

.project_spacer{
padding-top: 20px;
padding-bottom: 20px;

}

.project_page{
  display: block;
  margin-right: auto;
  margin-top: 6vh;
  padding-bottom: 200px;
  padding-left: 5%;
  padding-right: 5%;
}



/*YOUTUBE STUFF*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

    .container-fluid{
      padding: 0;
    }
/*project page end-----*/

//IMG FILTERS

.filter img{
  filter: brightness(50%);
  transition: 0.5s;
}

.filter img:hover{
  filter: brightness(100%);
}

//LOAD ANIMATIONS

.loader-wrapper {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $mainColor;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  top:-35vh;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

//LOAD ANIMATION END

/*style guide--------*/

.border-styleguide{
  width: 70vw;
  padding-bottom: 15px;
  border-bottom: dotted white;
  padding-top: 15px;
}

.styleguide_page{
  margin-top: 12vh;
  padding-bottom: 200px;
  display: inline-block;
  padding-left: 15%;
  padding-right: 12%;
}

.placeholder_square{
width: 100%;
height: 400px;
background-color: lime;

}
.ffff00{
  height: 25px;
  text-align: center;
  color: black;
  background-color:   #ffff00;
}
.ffffff{
  height: 25px;
  text-align: center;
  color:black;
  background-color: #ffffff;
}

.offblack{
  height: 25px;
  text-align: center;
  border: 1px solid white;
  color: white;
  background-color: #0d0d0d;
}

/*STYLEGUIDE END*/



@media screen and (max-width: 1279px)
{
.about_page h2 {
  font-size: 4vw;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.about_page{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  padding-bottom: 200px;
  padding-left: 3%;
  padding-right: 3%;
}


.profile_pic img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30vw;
}


.intro h1{
  font-size: 70px;
}

.intro h2{
  font-size: 1.2em;
}
}


@media screen and (max-width: 1121px)
{
p {
  font-size: 1.4vw;
  padding: 0;
  margin: 0;
}

.project_page{
  margin-right: 0;
}

// .wrapper{
//   margin: 0;
// }

.intro{
  margin-top: 25vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }
}



@media screen and (max-width:768px)
{

  .about_page{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .profile_pic img{
    width:70vw;
  }

  .about_page h2 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 9.5vw;
  }

  .project_page h2 {
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: 9vw;
  }

p {
  font-size: 1.6vh;
  padding: 0;
  margin: 0;
}

.project_banner_display{
  display:none;
}

}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width:500px){

  .intro{
    margin-top: 15vh;
  }

  .chevron{
     // display:none;
    padding-top: 250px;
    padding-bottom: 50px;
  }

  .intro h1{

    text-align: left;
    font-size: 13vw;
  }

  .intro h2{
    text-align: left;
    font-size: 7vw;
  }
}


/*Project Modifiers*/
.project1adjust{
  top:-73vh;
}

.project2adjust{
  top:-48vh;
}

.projects_adjust{
  top:0;
}
